In [1]:
import pandas as pd
import numpy as np

In [21]:
dataset_1=pd.read_excel('dataset_1.xlsx')#load first dataset

In [22]:
dataset_1  #first five rows

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,2011-01-01,1,0,1,0,False,6,1,0.24
1,2,2011-01-01,1,0,1,1,False,6,1,0.22
2,3,2011-01-01,1,0,1,2,False,6,1,0.22
3,4,2011-01-01,1,0,1,3,False,6,1,0.24
4,5,2011-01-01,1,0,1,4,False,6,1,0.24
...,...,...,...,...,...,...,...,...,...,...
605,606,2011-01-28,1,0,1,11,False,5,3,0.18
606,607,2011-01-28,1,0,1,12,False,5,3,0.18
607,608,2011-01-28,1,0,1,13,False,5,3,0.18
608,609,2011-01-28,1,0,1,14,False,5,3,0.22
609,610,2011-01-28,1,0,1,15,False,5,2,0.20

In [23]:
dataset_1['season'].unique()

array([1], dtype=int64)

In [24]:
dataset_1.shape[0] #only no of rows

610

In [25]:
dataset_1.shape[1] #only no of columns

10

In [26]:
dataset_2=pd.read_excel('dataset_2.xlsx')#load second dataset

In [27]:
dataset_2.head()

   Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0           0        1  0.2879  0.81        0.0       3          13   16
1           1        2  0.2727  0.80        0.0       8          32   40
2           2        3  0.2727  0.80        0.0       5          27   32
3           3        4  0.2879  0.75        0.0       3          10   13
4           4        5  0.2879  0.75        0.0       0           1    1

In [28]:
dataset_1['weekday'].unique()

array([6, 0, 1, 2, 3, 4, 5], dtype=int64)

In [29]:
dataset_2.drop(['Unnamed: 0'],axis=1)

     instant   atemp   hum  windspeed  casual  registered  cnt
0          1  0.2879  0.81     0.0000       3          13   16
1          2  0.2727  0.80     0.0000       8          32   40
2          3  0.2727  0.80     0.0000       5          27   32
3          4  0.2879  0.75     0.0000       3          10   13
4          5  0.2879  0.75     0.0000       0           1    1
..       ...     ...   ...        ...     ...         ...  ...
605      606  0.2121  0.93     0.1045       0          30   30
606      607  0.2121  0.93     0.1045       1          28   29
607      608  0.2121  0.93     0.1045       0          31   31
608      609  0.2727  0.80     0.0000       2          36   38
609      610  0.2576  0.86     0.0000       1          40   41

[610 rows x 7 columns]

In [30]:
dataset_2['atemp'].median()

0.197

In [31]:
bike_count=pd.merge(dataset_1,dataset_2,on='instant',how='inner')

In [32]:
bike_count

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,Unnamed: 0,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,False,6,1,0.24,0,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,False,6,1,0.22,1,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,False,6,1,0.22,2,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,False,6,1,0.24,3,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,False,6,1,0.24,4,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,2011-01-28,1,0,1,11,False,5,3,0.18,605,0.2121,0.93,0.1045,0,30,30
606,607,2011-01-28,1,0,1,12,False,5,3,0.18,606,0.2121,0.93,0.1045,1,28,29
607,608,2011-01-28,1,0,1,13,False,5,3,0.18,607,0.2121,0.93,0.1045,0,31,31
608,609,2011-01-28,1,0,1,14,False,5,3,0.22,608,0.2727,0.80,0.0000,2,36,38
609,610,2011-01-28,1,0,1,15,False,5,2,0.20,609,0.2576,0.86,0.0000,1,40,41

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   Gender  7 non-null      object
 3   Marks   7 non-null      object
dtypes: int64(1), object(3)
memory usage: 356.0+ bytes

In [34]:
import pandas as pd

In [5]:
df = {"Array_1": [30, 70, 100],
    "Array_2": [65.1, 49.50, 30.7]}
data = pd.DataFrame(df)
print(data.corr())

          Array_1   Array_2
Array_1  1.000000 -0.990773
Array_2 -0.990773  1.000000

In [14]:
# importing pandas as pd
import pandas as pd

In [16]:
data=pd.DataFrame([list("abcde"),
                   [1,2,3,4,5],
                   list("qwert"),
                   [9,8,7,4,5]],
                   index=list("asdf"),
                   columns=list("mnxyz"))
data

   m  n  x  y  z
a  a  b  c  d  e
s  1  2  3  4  5
d  q  w  e  r  t
f  9  8  7  4  5

In [36]:
import pandas as pd
 

data = {'Name': ['Jai', 'Princi', 'Gaurav', 
                 'Anuj', 'Ravi', 'Natasha', 'Riya'],
        'Age': [17, 17, 18, 17, 18, 17, 17],
        'Gender': ['M', 'F', 'M', 'M', 'M', 'F', 'F'],
        'Marks': [90, 76, 'NaN', 74, 65, 'NaN', 71]}
 
# Convert into DataFrame
df = pd.DataFrame(data)
 
# Display data
df

      Name  Age Gender Marks
0      Jai   17      M    90
1   Princi   17      F    76
2   Gaurav   18      M   NaN
3     Anuj   17      M    74
4     Ravi   18      M    65
5  Natasha   17      F   NaN
6     Riya   17      F    71

In [37]:
c = avg = 0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c += 1
        avg += ele
avg /= c
 
# Replace missing values
df = df.replace(to_replace="NaN",
                value=avg)
 
# Display data
df

      Name  Age Gender  Marks
0      Jai   17      M   90.0
1   Princi   17      F   76.0
2   Gaurav   18      M   75.2
3     Anuj   17      M   74.0
4     Ravi   18      M   65.0
5  Natasha   17      F   75.2
6     Riya   17      F   71.0

In [38]:

# Filter top scoring students
df = df[df['Marks'] >= 75].copy()
 
# Remove age column from filtered DataFrame
df.drop('Age', axis=1, inplace=True)
 
# Display data
df

      Name Gender  Marks
0      Jai      M   90.0
1   Princi      F   76.0
2   Gaurav      M   75.2
5  Natasha      F   75.2

In [44]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\nisha pal\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\nisha pal\anaconda3\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=0.25 in c:\users\nisha pal\anaconda3\lib\site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\nisha pal\anaconda3\lib\site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nisha pal\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nisha pal\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nisha pal\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\nisha pal\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [45]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [55]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [56]:
df = pd.DataFrame(data_1)
non_duplicate = df[~df.duplicated('temp')]
print(non_duplicate)

NameError: name 'data_1' is not defined

In [59]:
import pandas as pd

df = pd.read_excel('dataset_1.xlsx')

df.dropna(inplace = True)

print(df.to_string())

     instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  temp
0          1 2011-01-01       1   0     1   0    False        6           1  0.24
1          2 2011-01-01       1   0     1   1    False        6           1  0.22
2          3 2011-01-01       1   0     1   2    False        6           1  0.22
3          4 2011-01-01       1   0     1   3    False        6           1  0.24
4          5 2011-01-01       1   0     1   4    False        6           1  0.24
5          6 2011-01-01       1   0     1   5    False        6           2  0.24
6          7 2011-01-01       1   0     1   6    False        6           1  0.22
7          8 2011-01-01       1   0     1   7    False        6           1  0.20
8          9 2011-01-01       1   0     1   8    False        6           1  0.24
9         10 2011-01-01       1   0     1   9    False        6           1  0.32
10        11 2011-01-01       1   0     1  10    False        6           1  0.38
11        12 2011-01-01       1   0     1  11    False        6           1  0.36
12        13 2011-01-01       1   0     1  12    False        6           1  0.42
13        14 2011-01-01       1   0     1  13    False        6           2  0.46
14        15 2011-01-01       1   0     1  14    False        6           2  0.46
15        16 2011-01-01       1   0     1  15    False        6           2  0.44
16        17 2011-01-01       1   0     1  16    False        6           2  0.42
17        18 2011-01-01       1   0     1  17    False        6           2  0.44
18        19 2011-01-01       1   0     1  18    False        6           3  0.42
19        20 2011-01-01       1   0     1  19    False        6           3  0.42
20        21 2011-01-01       1   0     1  20    False        6           2  0.40
21        22 2011-01-01       1   0     1  21    False        6           2  0.40
22        23 2011-01-01       1   0     1  22    False        6           2  0.40
23        24 2011-01-01       1   0     1  23    False        6           2  0.46
24        25 2011-01-02       1   0     1   0    False        0           2  0.46
25        26 2011-01-02       1   0     1   1    False        0           2  0.44
26        27 2011-01-02       1   0     1   2    False        0           2  0.42
27        28 2011-01-02       1   0     1   3    False        0           2  0.46
28        29 2011-01-02       1   0     1   4    False        0           2  0.46
29        30 2011-01-02       1   0     1   6    False        0           3  0.42
30        31 2011-01-02       1   0     1   7    False        0           2  0.40
31        32 2011-01-02       1   0     1   8    False        0           3  0.40
32        33 2011-01-02       1   0     1   9    False        0           2  0.38
33        34 2011-01-02       1   0     1  10    False        0           2  0.36
34        35 2011-01-02       1   0     1  11    False        0           2  0.36
35        36 2011-01-02       1   0     1  12    False        0           2  0.36
36        37 2011-01-02       1   0     1  13    False        0           2  0.36
37        38 2011-01-02       1   0     1  14    False        0           3  0.36
38        39 2011-01-02       1   0     1  15    False        0           3  0.34
39        40 2011-01-02       1   0     1  16    False        0           3  0.34
40        41 2011-01-02       1   0     1  17    False        0           1  0.34
41        42 2011-01-02       1   0     1  18    False        0           2  0.36
42        43 2011-01-02       1   0     1  19    False        0           1  0.32
43        44 2011-01-02       1   0     1  20    False        0           1  0.30
44        45 2011-01-02       1   0     1  21    False        0           1  0.26
45        46 2011-01-02       1   0     1  22    False        0           1  0.24
46        47 2011-01-02       1   0     1  23    False        0           1  0.22
47        48 2011-01-03       1   0     1   0    False        1           1  0.22
48        49 2011-01-03       1   0     1   1    False        1           1  0.20
49        50 2011-01-03       1   0     1   4    False        1           1  0.16
50        51 2011-01-03       1   0     1   5    False        1           1  0.16
51        52 2011-01-03       1   0     1   6    False        1           1  0.14
52        53 2011-01-03       1   0     1   7    False        1           1  0.14
53        54 2011-01-03       1   0     1   8    False        1           1  0.14
54        55 2011-01-03       1   0     1   9    False        1           1  0.16
55        56 2011-01-03       1   0     1  10    False        1           1  0.18
56        57 2011-01-03       1   0     1  11    False        1           1  0.20
57        58 2011-01-03       1   0     1  12    False        1           1  0.22
58        59 2011-01-03       1   0     1  13    False        1           1  0.24
59        60 2011-01-03       1   0     1  14    False        1           1  0.26
60        61 2011-01-03       1   0     1  15    False        1           1  0.26
61        62 2011-01-03       1   0     1  16    False        1           1  0.26
62        63 2011-01-03       1   0     1  17    False        1           1  0.24
63        64 2011-01-03       1   0     1  18    False        1           1  0.24
64        65 2011-01-03       1   0     1  19    False        1           1  0.20
65        66 2011-01-03       1   0     1  20    False        1           1  0.20
66        67 2011-01-03       1   0     1  21    False        1           1  0.18
67        68 2011-01-03       1   0     1  22    False        1           1  0.14
68        69 2011-01-03       1   0     1  23    False        1           1  0.18
69        70 2011-01-04       1   0     1   0    False        2           1  0.16
70        71 2011-01-04       1   0     1   1    False        2           1  0.16
71        72 2011-01-04       1   0     1   2    False        2           1  0.14
72        73 2011-01-04       1   0     1   4    False        2           1  0.14
73        74 2011-01-04       1   0     1   5    False        2           1  0.12
74        75 2011-01-04       1   0     1   6    False        2           1  0.12
75        76 2011-01-04       1   0     1   7    False        2           1  0.12
76        77 2011-01-04       1   0     1   8    False        2           1  0.14
77        78 2011-01-04       1   0     1   9    False        2           1  0.16
78        79 2011-01-04       1   0     1  10    False        2           2  0.16
79        80 2011-01-04       1   0     1  11    False        2           1  0.22
80        81 2011-01-04       1   0     1  12    False        2           1  0.22
81        82 2011-01-04       1   0     1  13    False        2           1  0.24
82        83 2011-01-04       1   0     1  14    False        2           1  0.26
83        84 2011-01-04       1   0     1  15    False        2           1  0.28
84        85 2011-01-04       1   0     1  16    False        2           1  0.30
85        86 2011-01-04       1   0     1  17    False        2           1  0.28
86        87 2011-01-04       1   0     1  18    False        2           1  0.26
87        88 2011-01-04       1   0     1  19    False        2           1  0.24
88        89 2011-01-04       1   0     1  20    False        2           1  0.24
89        90 2011-01-04       1   0     1  21    False        2           1  0.22
90        91 2011-01-04       1   0     1  22    False        2           1  0.22
91        92 2011-01-04       1   0     1  23    False        2           1  0.20
92        93 2011-01-05       1   0     1   0    False        3           1  0.20
93        94 2011-01-05       1   0     1   1    False        3           1  0.16
94        95 2011-01-05       1   0     1   2    False        3           1  0.16
95        96 2011-01-05       1   0     1   4    False        3           1  0.24
96        97 2011-01-05       1   0     1   5    False        3           1  0.22
97        98 2011-01-05       1   0     1   6    False        3           1  0.20
98        99 2011-01-05       1   0     1   7    False        3           1  0.18
99       100 2011-01-05       1   0     1   8    False        3           1  0.20
100      101 2011-01-05       1   0     1   9    False        3           1  0.22
101      102 2011-01-05       1   0     1  10    False        3           1  0.22
102      103 2011-01-05       1   0     1  11    False        3           1  0.26
103      104 2011-01-05       1   0     1  12    False        3           1  0.26
104      105 2011-01-05       1   0     1  13    False        3           1  0.28
105      106 2011-01-05       1   0     1  14    False        3           1  0.30
106      107 2011-01-05       1   0     1  15    False        3           1  0.30
107      108 2011-01-05       1   0     1  16    False        3           1  0.30
108      109 2011-01-05       1   0     1  17    False        3           1  0.24
109      110 2011-01-05       1   0     1  18    False        3           1  0.24
110      111 2011-01-05       1   0     1  19    False        3           1  0.24
111      112 2011-01-05       1   0     1  20    False        3           1  0.22
112      113 2011-01-05       1   0     1  21    False        3           1  0.20
113      114 2011-01-05       1   0     1  22    False        3           1  0.18
114      115 2011-01-05       1   0     1  23    False        3           1  0.20
115      116 2011-01-06       1   0     1   0    False        4           1  0.18
116      117 2011-01-06       1   0     1   1    False        4           1  0.16
117      118 2011-01-06       1   0     1   2    False        4           1  0.16
118      119 2011-01-06       1   0     1   4    False        4           2  0.16
119      120 2011-01-06       1   0     1   5    False        4           2  0.14
120      121 2011-01-06       1   0     1   6    False        4           2  0.14
121      122 2011-01-06       1   0     1   7    False        4           2  0.16
122      123 2011-01-06       1   0     1   8    False        4           1  0.16
123      124 2011-01-06       1   0     1   9    False        4           2  0.18
124      125 2011-01-06       1   0     1  10    False        4           1  0.20
125      126 2011-01-06       1   0     1  11    False        4           1  0.22
126      127 2011-01-06       1   0     1  12    False        4           1  0.26
127      128 2011-01-06       1   0     1  13    False        4           1  0.26
128      129 2011-01-06       1   0     1  14    False        4           1  0.28
129      130 2011-01-06       1   0     1  15    False        4           1  0.28
130      131 2011-01-06       1   0     1  16    False        4           1  0.26
131      132 2011-01-06       1   0     1  17    False        4           1  0.22
132      133 2011-01-06       1   0     1  18    False        4           1  0.22
133      134 2011-01-06       1   0     1  19    False        4           1  0.22
134      135 2011-01-06       1   0     1  20    False        4           1  0.20
135      136 2011-01-06       1   0     1  21    False        4           2  0.22
136      137 2011-01-06       1   0     1  22    False        4           2  0.22
137      138 2011-01-06       1   0     1  23    False        4           2  0.20
138      139 2011-01-07       1   0     1   0    False        5           2  0.20
139      140 2011-01-07       1   0     1   1    False        5           2  0.20
140      141 2011-01-07       1   0     1   2    False        5           2  0.20
141      142 2011-01-07       1   0     1   4    False        5           2  0.20
142      143 2011-01-07       1   0     1   5    False        5           3  0.22
143      144 2011-01-07       1   0     1   6    False        5           2  0.20
144      145 2011-01-07       1   0     1   7    False        5           1  0.20
145      146 2011-01-07       1   0     1   8    False        5           1  0.20
146      147 2011-01-07       1   0     1   9    False        5           1  0.20
147      148 2011-01-07       1   0     1  10    False        5           1  0.22
148      149 2011-01-07       1   0     1  11    False        5           2  0.20
149      150 2011-01-07       1   0     1  12    False        5           2  0.20
150      151 2011-01-07       1   0     1  13    False        5           2  0.20
151      152 2011-01-07       1   0     1  14    False        5           2  0.20
152      153 2011-01-07       1   0     1  15    False        5           2  0.20
153      154 2011-01-07       1   0     1  16    False        5           2  0.20
154      155 2011-01-07       1   0     1  17    False        5           2  0.20
155      156 2011-01-07       1   0     1  18    False        5           1  0.20
156      157 2011-01-07       1   0     1  19    False        5           1  0.16
157      158 2011-01-07       1   0     1  20    False        5           1  0.18
158      159 2011-01-07       1   0     1  21    False        5           1  0.18
159      160 2011-01-07       1   0     1  22    False        5           2  0.18
160      161 2011-01-07       1   0     1  23    False        5           2  0.18
161      162 2011-01-08       1   0     1   0    False        6           2  0.18
162      163 2011-01-08       1   0     1   1    False        6           2  0.18
163      164 2011-01-08       1   0     1   2    False        6           2  0.18
164      165 2011-01-08       1   0     1   3    False        6           3  0.18
165      166 2011-01-08       1   0     1   4    False        6           3  0.18
166      167 2011-01-08       1   0     1   5    False        6           2  0.16
167      168 2011-01-08       1   0     1   6    False        6           2  0.16
168      169 2011-01-08       1   0     1   7    False        6           2  0.16
169      170 2011-01-08       1   0     1   8    False        6           3  0.16
170      171 2011-01-08       1   0     1   9    False        6           3  0.16
171      172 2011-01-08       1   0     1  10    False        6           2  0.18
172      173 2011-01-08       1   0     1  11    False        6           2  0.20
173      174 2011-01-08       1   0     1  12    False        6           2  0.20
174      175 2011-01-08       1   0     1  13    False        6           1  0.20
175      176 2011-01-08       1   0     1  14    False        6           1  0.20
176      177 2011-01-08       1   0     1  15    False        6           1  0.20
177      178 2011-01-08       1   0     1  16    False        6           1  0.18
178      179 2011-01-08       1   0     1  17    False        6           1  0.16
179      180 2011-01-08       1   0     1  18    False        6           1  0.14
180      181 2011-01-08       1   0     1  19    False        6           1  0.14
181      182 2011-01-08       1   0     1  20    False        6           1  0.12
182      183 2011-01-08       1   0     1  21    False        6           1  0.12
183      184 2011-01-08       1   0     1  22    False        6           1  0.12
184      185 2011-01-08       1   0     1  23    False        6           1  0.10
185      186 2011-01-09       1   0     1   0    False        0           1  0.10
186      187 2011-01-09       1   0     1   1    False        0           1  0.10
187      188 2011-01-09       1   0     1   2    False        0           1  0.10
188      189 2011-01-09       1   0     1   3    False        0           1  0.10
189      190 2011-01-09       1   0     1   4    False        0           1  0.08
190      191 2011-01-09       1   0     1   5    False        0           1  0.08
191      192 2011-01-09       1   0     1   6    False        0           1  0.10
192      193 2011-01-09       1   0     1   7    False        0           1  0.08
193      194 2011-01-09       1   0     1   8    False        0           1  0.10
194      195 2011-01-09       1   0     1   9    False        0           1  0.12
195      196 2011-01-09       1   0     1  10    False        0           1  0.14
196      197 2011-01-09       1   0     1  11    False        0           1  0.16
197      198 2011-01-09       1   0     1  12    False        0           1  0.18
198      199 2011-01-09       1   0     1  13    False        0           1  0.20
199      200 2011-01-09       1   0     1  14    False        0           1  0.22
200      201 2011-01-09       1   0     1  15    False        0           1  0.22
201      202 2011-01-09       1   0     1  16    False        0           1  0.20
202      203 2011-01-09       1   0     1  17    False        0           1  0.18
203      204 2011-01-09       1   0     1  18    False        0           1  0.16
204      205 2011-01-09       1   0     1  19    False        0           1  0.16
205      206 2011-01-09       1   0     1  20    False        0           1  0.14
206      207 2011-01-09       1   0     1  21    False        0           1  0.14
207      208 2011-01-09       1   0     1  22    False        0           1  0.14
208      209 2011-01-09       1   0     1  23    False        0           1  0.12
209      210 2011-01-10       1   0     1   0    False        1           1  0.12
210      211 2011-01-10       1   0     1   1    False        1           1  0.12
211      212 2011-01-10       1   0     1   2    False        1           1  0.12
212      213 2011-01-10       1   0     1   3    False        1           1  0.12
213      214 2011-01-10       1   0     1   4    False        1           1  0.10
214      215 2011-01-10       1   0     1   5    False        1           1  0.10
215      216 2011-01-10       1   0     1   6    False        1           1  0.12
216      217 2011-01-10       1   0     1   7    False        1           1  0.12
217      218 2011-01-10       1   0     1   8    False        1           2  0.12
218      219 2011-01-10       1   0     1   9    False        1           2  0.14
219      220 2011-01-10       1   0     1  10    False        1           2  0.14
220      221 2011-01-10       1   0     1  11    False        1           2  0.16
221      222 2011-01-10       1   0     1  12    False        1           2  0.20
222      223 2011-01-10       1   0     1  13    False        1           2  0.20
223      224 2011-01-10       1   0     1  14    False        1           2  0.20
224      225 2011-01-10       1   0     1  15    False        1           2  0.20
225      226 2011-01-10       1   0     1  16    False        1           1  0.20
226      227 2011-01-10       1   0     1  17    False        1           1  0.20
227      228 2011-01-10       1   0     1  18    False        1           1  0.20
228      229 2011-01-10       1   0     1  19    False        1           1  0.16
229      230 2011-01-10       1   0     1  20    False        1           1  0.16
230      231 2011-01-10       1   0     1  21    False        1           1  0.14
231      232 2011-01-10       1   0     1  22    False        1           1  0.14
232      233 2011-01-10       1   0     1  23    False        1           1  0.14
233      234 2011-01-11       1   0     1   0    False        2           1  0.14
234      235 2011-01-11       1   0     1   1    False        2           1  0.14
235      236 2011-01-11       1   0     1   2    False        2           2  0.16
236      237 2011-01-11       1   0     1   5    False        2           2  0.16
237      238 2011-01-11       1   0     1   6    False        2           2  0.16
238      239 2011-01-11       1   0     1   7    False        2           2  0.16
239      240 2011-01-11       1   0     1   8    False        2           2  0.18
240      241 2011-01-11       1   0     1   9    False        2           2  0.18
241      242 2011-01-11       1   0     1  10    False        2           2  0.20

In [60]:

# importing pandas as pd 
import pandas as pd 
  
# Creating the dataframe  
df = pd.read_excel('dataset_1.xlsx') 
  
# Print the dataframe 
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,2011-01-01,1,0,1,0,False,6,1,0.24
1,2,2011-01-01,1,0,1,1,False,6,1,0.22
2,3,2011-01-01,1,0,1,2,False,6,1,0.22
3,4,2011-01-01,1,0,1,3,False,6,1,0.24
4,5,2011-01-01,1,0,1,4,False,6,1,0.24
...,...,...,...,...,...,...,...,...,...,...
605,606,2011-01-28,1,0,1,11,False,5,3,0.18
606,607,2011-01-28,1,0,1,12,False,5,3,0.18
607,608,2011-01-28,1,0,1,13,False,5,3,0.18
608,609,2011-01-28,1,0,1,14,False,5,3,0.22
609,610,2011-01-28,1,0,1,15,False,5,2,0.20